POSTGRES_USER=netraptor
POSTGRES_PASSWORD=netraptor_pass
POSTGRES_DB=netraptor_db
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
REDIS_URL=redis://localhost:6379/0
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
